@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('OpenSans-Regular-webfont.woff2') format('woff2'), url('OpenSans-Regular-webfont.woff') format('woff'), url('OpenSans-Regular-webfont.ttf') format('truetype'), url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('OpenSans-Light-webfont.eot');
    src: url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('OpenSans-Light-webfont.woff2') format('woff2'), url('OpenSans-Light-webfont.woff') format('woff'), url('OpenSans-Light-webfont.ttf') format('truetype'), url('OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caveatregular';
    src: url('caveat-regular-webfont.eot');
    src: url('caveat-regular-webfont.eot?#iefix') format('embedded-opentype'), url('caveat-regular-webfont.woff2') format('woff2'), url('caveat-regular-webfont.woff') format('woff'), url('caveat-regular-webfont.ttf') format('truetype'), url('caveat-regular-webfont.svg#caveatregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gasparregular';
    src: url('Gaspar Regular-webfont.eot');
    src: url('Gaspar Regular-webfont.eot?#iefix') format('embedded-opentype'), url('Gaspar Regular-webfont.woff2') format('woff2'), url('Gaspar Regular-webfont.woff') format('woff'), url('Gaspar Regular-webfont.ttf') format('truetype'), url('Gaspar Regular-webfont.svg#gasparregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cmu_serifitalic';
    src: url('cmunti-webfont.eot');
    src: url('cmunti-webfont.eot?#iefix') format('embedded-opentype'), url('cmunti-webfont.woff2') format('woff2'), url('cmunti-webfont.woff') format('woff'), url('cmunti-webfont.ttf') format('truetype'), url('cmunti-webfont.svg#cmu_serifitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tex_gyre_scholaregular';
    src: url('texgyreschola-regular-webfont.eot');
    src: url('texgyreschola-regular-webfont.eot?#iefix') format('embedded-opentype'), url('texgyreschola-regular-webfont.woff2') format('woff2'), url('texgyreschola-regular-webfont.woff') format('woff'), url('texgyreschola-regular-webfont.ttf') format('truetype'), url('texgyreschola-regular-webfont.svg#tex_gyre_scholaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}