@font-face {
    font-family: 'open_sansregular';
    src: url('Polices/webfonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
    src: url('Polices/webfonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), 
            url('Polices/webfonts/opensans_regular_macromanOpenSans-Regular-webfont.woff2') format('woff2'), 
            url('Polices/webfonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff'), 
            url('Polices/webfonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf') format('truetype'), 
            url('Polices/webfonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('Polices/webfonts/opensans_light_macroman/OpenSans-Light-webfont.eot');
    src: url('Polices/webfonts/opensans_light_macroman/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), 
            url('Polices/webfonts/opensans_light_macroman/OpenSans-Light-webfont.woff2') format('woff2'), 
            url('Polices/webfonts/opensans_light_macroman/OpenSans-Light-webfont.woff') format('woff'),
            url('Polices/webfonts/opensans_light_macroman/OpenSans-Light-webfont.ttf') format('truetype'), 
            url('Polices/webfonts/opensans_light_macroman/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caveatbold';
    src: url('Polices/webfonts/caveat_bold_macroman/caveat-bold-webfont.eot');
    src: url('Polices/webfonts/caveat_bold_macroman/caveat-bold-webfont.eot?#iefix') format('embedded-opentype'), 
            url('Polices/webfonts/caveat_bold_macroman/caveat-bold-webfont.woff2') format('woff2'), 
            url('Polices/webfonts/caveat_bold_macroman/caveat-bold-webfont.woff') format('woff'), 
            url('Polices/webfonts/caveat_bold_macroman/caveat-bold-webfont.ttf') format('truetype'), 
            url('Polices/webfonts/caveat_bold_macroman/caveat-bold-webfont.svg#caveatbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caveatregular';
    src: url('Polices/webfonts/caveat_regular_macroman/caveat-regular-webfont.eot');
    src: url('Polices/webfonts/caveat_regular_macroman/caveat-regular-webfont.eot?#iefix') format('embedded-opentype'), 
            url('Polices/webfonts/caveat_regular_macroman/caveat-regular-webfont.woff2') format('woff2'), 
            url('Polices/webfonts/caveat_regular_macroman/caveat-regular-webfont.woff') format('woff'), 
            url('Polices/webfonts/caveat_regular_macroman/caveat-regular-webfont.ttf') format('truetype'), 
            url('Polices/webfonts/caveat_regular_macroman/caveat-regular-webfont.svg#caveatregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gasparregular';
    src: url('Polices/webfonts/gaspar_regular_macroman/Gaspar Regular-webfont.eot');
    src: url('Polices/webfonts/gaspar_regular_macroman/Gaspar Regular-webfont.eot?#iefix') format('embedded-opentype'),
            url('Polices/webfonts/gaspar_regular_macroman/Gaspar Regular-webfont.woff2') format('woff2'), 
            url('Polices/webfonts/gaspar_regular_macroman/Gaspar Regular-webfont.woff') format('woff'),
            url('Polices/webfonts/gaspar_regular_macroman/Gaspar Regular-webfont.ttf') format('truetype'), 
            url('Polices/webfonts/gaspar_regular_macroman/Gaspar Regular-webfont.svg#gasparregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cmu_serifitalic';
    src: url('Polices/webfonts/cmuserif_oblique_macroman/cmunti-webfont.eot');
    src: url('Polices/webfonts/cmuserif_oblique_macroman/cmunti-webfont.eot?#iefix') format('embedded-opentype'), 
            url('Polices/webfonts/cmuserif_oblique_macroman/cmunti-webfont.woff2') format('woff2'), 
            url('Polices/webfonts/cmuserif_oblique_macroman/cmunti-webfont.woff') format('woff'), 
            url('Polices/webfonts/cmuserif_oblique_macroman/cmunti-webfont.ttf') format('truetype'), 
            url('Polices/webfonts/cmuserif_oblique_macroman/cmunti-webfont.svg#cmu_serifitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tex_gyre_scholaregular';
    src: url('Polices/webfonts/texgyreschola_regular_macroman/texgyreschola-regular-webfont.eot');
    src: url('Polices/webfonts/texgyreschola_regular_macroman/texgyreschola-regular-webfont.eot?#iefix') format('embedded-opentype'),
            url('Polices/webfonts/texgyreschola_regular_macroman/texgyreschola-regular-webfont.woff2') format('woff2'),
            url('Polices/webfonts/texgyreschola_regular_macroman/texgyreschola-regular-webfont.woff') format('woff'),
            url('Polices/webfonts/texgyreschola_regular_macroman/texgyreschola-regular-webfont.ttf') format('truetype'),
            url('Polices/webfonts/texgyreschola_regular_macroman/texgyreschola-regular-webfont.svg#tex_gyre_scholaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kanitextrabold';
    src: url('Polices/webfonts/kanit_extrabold_macroman/kanit-extrabold-webfont.eot');
    src: url('Polices/webfonts/kanit_extrabold_macroman/kanit-extrabold-webfont.eot?#iefix') format('embedded-opentype'), 
            url('Polices/webfonts/kanit_extrabold_macroman/kanit-extrabold-webfont.woff2') format('woff2'), 
            url('Polices/webfonts/kanit_extrabold_macroman/kanit-extrabold-webfont.woff') format('woff'), 
            url('Polices/webfonts/kanit_extrabold_macroman/kanit-extrabold-webfont.ttf') format('truetype'), 
            url('Polices/webfonts/kanit_extrabold_macroman/kanit-extrabold-webfont.svg#kanitextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
