header {
    font-family: 'kanitextrabold';
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: $green;

    h1 {
        color: #FDCB46;
    }
}

section {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 25px 35% 25px 35%;
}

.bloc {
    width: 45%;

    a {
        text-decoration: none;
    }

    &:nth-child(1) {
        .bloc_menu {
            background: #FDE0DC;
            color: black;
            font-family: 'caveatbold';
            box-shadow: 0px 2px 5px #BDBDBD;
        }
    }

    &:nth-child(2) {
        .bloc_menu {
            background: #FFF5FE;
            font-family: 'cmu_serifitalic';
            box-shadow: 0px 2px 5px #BDBDBD;

            h2, h3 {
                background: linear-gradient(125deg, #905BFD 0%, #D8852E 90%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    &:nth-child(3) {
        .bloc_menu {
            background: #F9F9F9;
            font-family: 'cmu_serifitalic';
            box-shadow: 0px 2px 5px #BDBDBD;

            h2, h3 {
                background: linear-gradient(125deg, #103DE1 0%, #62B0F9 90%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    &:nth-child(4) {
        .bloc_menu {
            font-family: 'gasparregular';
            box-shadow: 0px 2px 5px #BDBDBD;

            h2, h3 {
                background: linear-gradient(125deg, #44983D 0%, #BFFF7E 90%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    &_menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 14vw;

        h3 {
            margin: 0px;
        }

        img {
            width: 20%;
        }
    }
}

    footer {
        font-family: open_sanslight;
        background: $green;
        display: flex;
        justify-content: space-between;
        color: $yellow;
        font-weight: normal;
        position: fixed;
        bottom: 0;
        width: 99.2%;

        h2 {
            padding: 0px 15px 0px 15px;
        }
    }

    
