/* Vert principalement utilise pour mon header et footer */
$green: #579C87;

/* Jaune de mon logo ohmyfood */
$yellow: #FDCB46;

/* Couleur de fond du menu le delice des papilles*/
$colordelice: #EDEFEF;

/* Rose de fond du menu du chic a la francaise */
$colorchic: #FFF5FE;

/* Beige de fond du menu de la note enchantee */
$colorkey: #FCDFDB;

/* Box shadow principal a utiliser pour les effets d'ombres sur differentes pages */
@mixin shadow-box {
    box-shadow: 0px 2px 5px #BDBDBD;
}

@mixin main_title {
    font-family: 'open_sansregular';
    font-size: 30px;
    text-align: center;
}

@mixin menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 25% 7% 25%;
    @include shadow-box;

    > table {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;


        tr {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
        }

        th {
            > p {
                width: 35%;
            }

            font-size: 24px;
            width: 100%;
            display: flex;
            justify-content: center;
            justify-content: space-between;
        }
    }
}

    @mixin right_line {
        transform: scaleX(-1);
        padding-right: 5px;
        width: 100%;
    }

    @mixin left_line {
        width: 100%;
    }

.plat {
    margin-left: 100px;
}

.prix {
    margin-right: 100px;
}

$num-points: 3;
$anim-dur: 1000ms;
$anim-delay: $anim-dur / $num-points;

@mixin point {
    background-color: $yellow;
    height: 0.5vw;
    width: 0.5vw;
    border-radius: 20px;
    transform: translateY(-2vh);
    transition: transform $anim-dur cubic-bezier(0,.8,.5,.99);
}

@keyframes points {
    0% {
        transform: scaleY(0vh);
    }
    100% {
        transform: scaleY(-2vh);
    }
}
