@import "./sass/utils/variables";
@import "./sass/utils/keyframes";
@import "./sass/utils/mixins";

@import "./sass/base/polices";
@import "./sass/base/normes";

@import "./sass/layouts/blocs";
@import "./sass/layouts/footer";
@import "./sass/layouts/header";

@import "./sass/pages/index";
@import "./sass/pages/la_palette_du_gout";
@import "./sass/pages/lanoteenchantee";
@import "./sass/pages/le_chic_a_la_francaise";
@import "./sass/pages/le_delice_des_papilles";
