@import "sass/base", "sass/composants", "sass/utils", "sass/layouts";

.cadre_rouge {
    border: 1px solid red;
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    font-family:  'caveatregular', 'gasparregular', 'cmu_serifitalic', 'tex_gyre_scholaregular','caveatbold';
}

.next {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 75px;

    h2 {
        padding: 5px 0px 5px 0px;
        width: 15%;
        background: $green;
        color: $yellow;
        border-radius: 5px;
    }
}


