@font-face {
  font-family: "open_sansregular";
  src: url("Polices/webfonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot");
  src: url("Polices/webfonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Polices/webfonts/opensans_regular_macromanOpenSans-Regular-webfont.woff2") format("woff2"), url("Polices/webfonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff") format("woff"), url("Polices/webfonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf") format("truetype"), url("Polices/webfonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "open_sanslight";
  src: url("Polices/webfonts/opensans_light_macroman/OpenSans-Light-webfont.eot");
  src: url("Polices/webfonts/opensans_light_macroman/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("Polices/webfonts/opensans_light_macroman/OpenSans-Light-webfont.woff2") format("woff2"), url("Polices/webfonts/opensans_light_macroman/OpenSans-Light-webfont.woff") format("woff"), url("Polices/webfonts/opensans_light_macroman/OpenSans-Light-webfont.ttf") format("truetype"), url("Polices/webfonts/opensans_light_macroman/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caveatbold";
  src: url("Polices/webfonts/caveat_bold_macroman/caveat-bold-webfont.eot");
  src: url("Polices/webfonts/caveat_bold_macroman/caveat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("Polices/webfonts/caveat_bold_macroman/caveat-bold-webfont.woff2") format("woff2"), url("Polices/webfonts/caveat_bold_macroman/caveat-bold-webfont.woff") format("woff"), url("Polices/webfonts/caveat_bold_macroman/caveat-bold-webfont.ttf") format("truetype"), url("Polices/webfonts/caveat_bold_macroman/caveat-bold-webfont.svg#caveatbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caveatregular";
  src: url("Polices/webfonts/caveat_regular_macroman/caveat-regular-webfont.eot");
  src: url("Polices/webfonts/caveat_regular_macroman/caveat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("Polices/webfonts/caveat_regular_macroman/caveat-regular-webfont.woff2") format("woff2"), url("Polices/webfonts/caveat_regular_macroman/caveat-regular-webfont.woff") format("woff"), url("Polices/webfonts/caveat_regular_macroman/caveat-regular-webfont.ttf") format("truetype"), url("Polices/webfonts/caveat_regular_macroman/caveat-regular-webfont.svg#caveatregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gasparitalic";
  src: url("Polices/webfonts/gaspar_italic_macroman/Gaspar Regular Italic-webfont.eot");
  src: url("Polices/webfonts/gaspar_italic_macroman/Gaspar Regular Italic-webfont.eot?#iefix") format("embedded-opentype"), url("Polices/webfonts/gaspar_italic_macroman/Gaspar Regular Italic-webfont.woff2") format("woff2"), url("Polices/webfonts/gaspar_italic_macroman/Gaspar Regular Italic-webfont.woff") format("woff"), url("Polices/webfonts/gaspar_italic_macroman/Gaspar Regular Italic-webfont.ttf") format("truetype"), url("Polices/webfonts/gaspar_italic_macroman/Gaspar Regular Italic-webfont.svg#gasparitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cmu_serifitalic";
  src: url("Polices/webfonts/cmuserif_oblique_macroman/cmunti-webfont.eot");
  src: url("Polices/webfonts/cmuserif_oblique_macroman/cmunti-webfont.eot?#iefix") format("embedded-opentype"), url("Polices/webfonts/cmuserif_oblique_macroman/cmunti-webfont.woff2") format("woff2"), url("Polices/webfonts/cmuserif_oblique_macroman/cmunti-webfont.woff") format("woff"), url("Polices/webfonts/cmuserif_oblique_macroman/cmunti-webfont.ttf") format("truetype"), url("Polices/webfonts/cmuserif_oblique_macroman/cmunti-webfont.svg#cmu_serifitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "tex_gyre_scholaregular";
  src: url("Polices/webfonts/texgyreschola_regular_macroman/texgyreschola-regular-webfont.eot");
  src: url("Polices/webfonts/texgyreschola_regular_macroman/texgyreschola-regular-webfont.eot?#iefix") format("embedded-opentype"), url("Polices/webfonts/texgyreschola_regular_macroman/texgyreschola-regular-webfont.woff2") format("woff2"), url("Polices/webfonts/texgyreschola_regular_macroman/texgyreschola-regular-webfont.woff") format("woff"), url("Polices/webfonts/texgyreschola_regular_macroman/texgyreschola-regular-webfont.ttf") format("truetype"), url("Polices/webfonts/texgyreschola_regular_macroman/texgyreschola-regular-webfont.svg#tex_gyre_scholaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kanitregular";
  src: url("Polices/webfonts/kanit_regular_macroman/kanit-regular-webfont.eot");
  src: url("Polices/webfonts/kanit_regular_macroman/kanit-regular-webfont.eot?#iefix") format("embedded-opentype"), url("Polices/webfonts/kanit_regular_macroman/kanit-regular-webfont.woff2") format("woff2"), url("Polices/webfonts/kanit_regular_macroman/kanit-regular-webfont.woff") format("woff"), url("Polices/webfonts/kanit_regular_macroman/kanit-regular-webfont.ttf") format("truetype"), url("Polices/webfonts/kanit_regular_macroman/kanit-regular-webfont.svg#kanitregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Vert principalement utilise pour mon header et footer */
/* Jaune de mon logo ohmyfood */
/* Couleur de fond du menu le delice des papilles*/
/* Rose de fond du menu du chic a la francaise */
/* Beige de fond du menu de la note enchantee */
/* Box shadow principal a utiliser pour les effets d'ombres sur differentes pages */
/*  Proprietees de la page index.html*/
.index {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px 35% 25px 35%;
}

.bloc {
  width: 45%;
}
.bloc a {
  text-decoration: none;
}
.bloc:nth-child(1) .bloc_menu {
  background: #FCDFDB;
  color: black;
  font-family: "caveatbold";
  box-shadow: 0px 2px 5px #BDBDBD;
  margin-bottom: 25px;
  transition: transform 400ms;
}
.bloc:nth-child(1) .bloc_menudetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 400ms;
}
.bloc:nth-child(1) .bloc_menudetail:hover {
  transform: scale(1.15);
}
.bloc:nth-child(2) .bloc_menu {
  background: #FFF5FE;
  font-family: "cmu_serifitalic";
  box-shadow: 0px 2px 5px #BDBDBD;
}
.bloc:nth-child(2) .bloc_menu h2, .bloc:nth-child(2) .bloc_menu h3 {
  background: linear-gradient(125deg, #905BFD 0%, #D8852E 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bloc:nth-child(3) .bloc_menu {
  background: #F9F9F9;
  font-family: "cmu_serifitalic";
  box-shadow: 0px 2px 5px #BDBDBD;
}
.bloc:nth-child(3) .bloc_menu h2, .bloc:nth-child(3) .bloc_menu h3 {
  background: linear-gradient(125deg, #103DE1 0%, #62B0F9 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bloc:nth-child(4) .bloc_menu {
  font-family: "gasparregular";
  box-shadow: 0px 2px 5px #BDBDBD;
}
.bloc:nth-child(4) .bloc_menu h2, .bloc:nth-child(4) .bloc_menu h3 {
  background: linear-gradient(125deg, #44983D 0%, #BFFF7E 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bloc_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 14vw;
}
.bloc_menu h3 {
  margin: 0px;
}
.bloc_menu img {
  width: 20%;
}

.next {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 0;
  margin-bottom: 5%;
}
.next h2 {
  padding: 5px 0px 5px 0px;
  width: 15%;
  background: #579C87;
  color: #FDCB46;
  border-radius: 5px;
}

/* Proprietees de la page lanoteenchantee.html */
.note_enchantee .img_top {
  margin-top: 25px;
  width: 10%;
}
.note_enchantee .img_low {
  width: 15%;
}
.note_enchantee > .main_title {
  font-family: "open_sansregular";
  font-size: 30px;
  text-align: center;
}
.note_enchantee .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 25% 7% 25%;
  box-shadow: 0px 2px 5px #BDBDBD;
  font-family: "caveatregular";
  background: #FCDFDB;
}
.note_enchantee .menu > table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}
.note_enchantee .menu > table tr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.note_enchantee .menu > table th {
  font-size: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.note_enchantee .menu > table th > p {
  width: 35%;
}
.note_enchantee .menu_title {
  font-size: 34px;
  margin-top: 0;
}
.note_enchantee .menu > table {
  width: 80%;
}
.note_enchantee .menu > table th > h3 {
  margin: 18px 0 18px 0;
}
.note_enchantee .menu > table td {
  font-size: 20px;
}
.note_enchantee .trait_droite {
  transform: scaleX(-1);
  padding-right: 5px;
  width: 100%;
}
.note_enchantee .trait_gauche {
  width: 100%;
}
.note_enchantee h4 {
  font-size: 28px;
  display: flex;
}

/* Proprietees de la page le chic a la francaise */
.french_chic > .main_title {
  font-family: "open_sansregular";
  font-size: 30px;
  text-align: center;
}
.french_chic .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 25% 7% 25%;
  box-shadow: 0px 2px 5px #BDBDBD;
  padding: 50px 0 50px 0;
  font-family: "tex_gyre_scholaregular";
  padding-bottom: 10%;
  background: #FFF5FE;
}
.french_chic .menu > table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}
.french_chic .menu > table tr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.french_chic .menu > table th {
  font-size: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.french_chic .menu > table th > p {
  width: 35%;
}
.french_chic .menu_title {
  font-size: 28px;
  margin: 10% 0 10% 0px;
  background: linear-gradient(125deg, #905BFD 0%, #D8852E 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.french_chic .menu > table {
  width: 80%;
}
.french_chic .menu > table tr > .plat {
  margin-left: 25px;
}
.french_chic .menu > table tr > .prix {
  margin-right: 25px;
}
.french_chic .menu > table th > h3 {
  font-size: 14px;
  padding-top: 15px;
}
.french_chic .menu > table td {
  font-size: 14px;
}
.french_chic .brown {
  color: #C67412;
}
.french_chic .purple {
  color: #A56799;
}
.french_chic .blue {
  color: #6E4CCC;
}
.french_chic .trait_droite {
  transform: scaleX(-1);
  padding-right: 5px;
  width: 100%;
}
.french_chic .trait_gauche {
  width: 100%;
}

/* Proprietees de la page la palette du gout */
.palette_du_gout > .main_title {
  font-family: "open_sansregular";
  font-size: 30px;
  text-align: center;
}
.palette_du_gout .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 25% 7% 25%;
  box-shadow: 0px 2px 5px #BDBDBD;
  padding: 50px 0 50px 0;
  font-family: "gasparitalic";
  font-weight: bold;
  padding-bottom: 10%;
}
.palette_du_gout .menu > table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}
.palette_du_gout .menu > table tr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.palette_du_gout .menu > table th {
  font-size: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.palette_du_gout .menu > table th > p {
  width: 35%;
}
.palette_du_gout .menu_title {
  font-size: 50px;
  margin: 10% 0 10% 0px;
  background: linear-gradient(125deg, #44983D 0%, #BFFF7E 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.palette_du_gout .menu > table {
  width: 90%;
}
.palette_du_gout .menu > table th > h3 {
  font-size: 16px;
  padding-top: 10px;
}
.palette_du_gout .menu > table td {
  font-size: 14px;
}
.palette_du_gout .trait_droite {
  transform: scaleX(-1);
  padding-right: 5px;
  width: 100%;
}
.palette_du_gout .trait_gauche {
  width: 100%;
}

/* Proprietees de la page le delice des papilles */
.delice_papilles > .main_title {
  font-family: "open_sansregular";
  font-size: 30px;
  text-align: center;
}
.delice_papilles .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 25% 7% 25%;
  box-shadow: 0px 2px 5px #BDBDBD;
  padding: 50px 0 50px 0;
  font-family: "cmu_serifitalic";
  font-weight: bold;
  padding-bottom: 10%;
  background: #EDEFEF;
}
.delice_papilles .menu > table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}
.delice_papilles .menu > table tr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.delice_papilles .menu > table th {
  font-size: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.delice_papilles .menu > table th > p {
  width: 35%;
}
.delice_papilles .menu_title {
  font-size: 50px;
  margin: 10% 0 10% 0px;
  background: linear-gradient(125deg, #103DE1 0%, #62B0F9 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.delice_papilles .menu > table {
  width: 90%;
}
.delice_papilles .menu > table th > h3 {
  font-size: 16px;
  padding-top: 10px;
}
.delice_papilles .menu > table td {
  font-size: 14px;
}
.delice_papilles .trait_droite {
  transform: scaleX(-1);
  padding-right: 5px;
  width: 100%;
}
.delice_papilles .trait_gauche {
  width: 100%;
}

header {
  font-family: "kanitregular";
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #579C87;
}
header h1 {
  color: #FDCB46;
}

footer {
  font-family: open_sanslight;
  background: #579C87;
  display: flex;
  justify-content: space-between;
  color: #FDCB46;
  font-weight: normal;
  position: fixed;
  bottom: 0;
  width: 99.2%;
}
footer h2 {
  padding: 0px 15px 0px 15px;
}

.cadre_rouge {
  border: 1px solid red;
}

body {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
