header {
    h1 {
        font-size: 72px;
        background: -webkit-linear-gradient( #4CAF50, #CDDC39);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
