@font-face {
  font-family: "open_sansregular";
  src: url("Polices/webfonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot");
  src: url("Polices/webfonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Polices/webfonts/opensans_regular_macromanOpenSans-Regular-webfont.woff2") format("woff2"), url("Polices/webfonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff") format("woff"), url("Polices/webfonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf") format("truetype"), url("Polices/webfonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "open_sanslight";
  src: url("Polices/webfonts/opensans_light_macroman/OpenSans-Light-webfont.eot");
  src: url("Polices/webfonts/opensans_light_macroman/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("Polices/webfonts/opensans_light_macroman/OpenSans-Light-webfont.woff2") format("woff2"), url("Polices/webfonts/opensans_light_macroman/OpenSans-Light-webfont.woff") format("woff"), url("Polices/webfonts/opensans_light_macroman/OpenSans-Light-webfont.ttf") format("truetype"), url("Polices/webfonts/opensans_light_macroman/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caveatbold";
  src: url("Polices/webfonts/caveat_bold_macroman/caveat-bold-webfont.eot");
  src: url("Polices/webfonts/caveat_bold_macroman/caveat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("Polices/webfonts/caveat_bold_macroman/caveat-bold-webfont.woff2") format("woff2"), url("Polices/webfonts/caveat_bold_macroman/caveat-bold-webfont.woff") format("woff"), url("Polices/webfonts/caveat_bold_macroman/caveat-bold-webfont.ttf") format("truetype"), url("Polices/webfonts/caveat_bold_macroman/caveat-bold-webfont.svg#caveatbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caveatregular";
  src: url("Polices/webfonts/caveat_regular_macroman/caveat-regular-webfont.eot");
  src: url("Polices/webfonts/caveat_regular_macroman/caveat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("Polices/webfonts/caveat_regular_macroman/caveat-regular-webfont.woff2") format("woff2"), url("Polices/webfonts/caveat_regular_macroman/caveat-regular-webfont.woff") format("woff"), url("Polices/webfonts/caveat_regular_macroman/caveat-regular-webfont.ttf") format("truetype"), url("Polices/webfonts/caveat_regular_macroman/caveat-regular-webfont.svg#caveatregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gasparregular";
  src: url("Polices/webfonts/gaspar_regular_macroman/Gaspar Regular-webfont.eot");
  src: url("Polices/webfonts/gaspar_regular_macroman/Gaspar Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Polices/webfonts/gaspar_regular_macroman/Gaspar Regular-webfont.woff2") format("woff2"), url("Polices/webfonts/gaspar_regular_macroman/Gaspar Regular-webfont.woff") format("woff"), url("Polices/webfonts/gaspar_regular_macroman/Gaspar Regular-webfont.ttf") format("truetype"), url("Polices/webfonts/gaspar_regular_macroman/Gaspar Regular-webfont.svg#gasparregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cmu_serifitalic";
  src: url("Polices/webfonts/cmuserif_oblique_macroman/cmunti-webfont.eot");
  src: url("Polices/webfonts/cmuserif_oblique_macroman/cmunti-webfont.eot?#iefix") format("embedded-opentype"), url("Polices/webfonts/cmuserif_oblique_macroman/cmunti-webfont.woff2") format("woff2"), url("Polices/webfonts/cmuserif_oblique_macroman/cmunti-webfont.woff") format("woff"), url("Polices/webfonts/cmuserif_oblique_macroman/cmunti-webfont.ttf") format("truetype"), url("Polices/webfonts/cmuserif_oblique_macroman/cmunti-webfont.svg#cmu_serifitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "tex_gyre_scholaregular";
  src: url("Polices/webfonts/texgyreschola_regular_macroman/texgyreschola-regular-webfont.eot");
  src: url("Polices/webfonts/texgyreschola_regular_macroman/texgyreschola-regular-webfont.eot?#iefix") format("embedded-opentype"), url("Polices/webfonts/texgyreschola_regular_macroman/texgyreschola-regular-webfont.woff2") format("woff2"), url("Polices/webfonts/texgyreschola_regular_macroman/texgyreschola-regular-webfont.woff") format("woff"), url("Polices/webfonts/texgyreschola_regular_macroman/texgyreschola-regular-webfont.ttf") format("truetype"), url("Polices/webfonts/texgyreschola_regular_macroman/texgyreschola-regular-webfont.svg#tex_gyre_scholaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  background: #579C87;
}

section {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 25px 25% 25px 25%;
}

.bloc {
  width: 45%;
}
.bloc a {
  text-decoration: none;
}
.bloc:nth-child(1) .bloc_menu {
  background: #FDE0DC;
  color: black;
  font-family: "caveatbold";
}
.bloc:nth-child(2) .bloc_menu {
  background: #FFF5FE;
  font-family: "cmu_serifitalic";
  background: linear-gradient(125deg, #905BFD 0%, #D8852E 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bloc:nth-child(3) .bloc_menu {
  background: #F9F9F9;
  font-family: "cmu_serifitalic";
}
.bloc:nth-child(4) .bloc_menu {
  font-family: "gasparregular";
}
.bloc_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vw;
}
.bloc_menu img {
  width: 15%;
}

footer {
  font-family: open_sanslight;
  background: #579C87;
  display: flex;
  justify-content: space-between;
  color: #FFD54F;
  font-weight: normal;
  position: fixed;
  bottom: 0;
  width: 99.2%;
}
footer h2 {
  padding: 0px 15px 0px 15px;
}

.cadre_rouge {
  border: 1px solid red;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.next {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 75px;
}
.next h2 {
  padding: 5px 0px 5px 0px;
  width: 15%;
  background: #579C87;
  color: #FFD54F;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
