@font-face {
  font-family: "open_sansregular";
  src: url("Polices/webfonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot");
  src: url("Polices/webfonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Polices/webfonts/opensans_regular_macromanOpenSans-Regular-webfont.woff2") format("woff2"), url("Polices/webfonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff") format("woff"), url("Polices/webfonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf") format("truetype"), url("Polices/webfonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "open_sanslight";
  src: url("Polices/webfonts/opensans_light_macroman/OpenSans-Light-webfont.eot");
  src: url("Polices/webfonts/opensans_light_macroman/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("Polices/webfonts/opensans_light_macroman/OpenSans-Light-webfont.woff2") format("woff2"), url("Polices/webfonts/opensans_light_macroman/OpenSans-Light-webfont.woff") format("woff"), url("Polices/webfonts/opensans_light_macroman/OpenSans-Light-webfont.ttf") format("truetype"), url("Polices/webfonts/opensans_light_macroman/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caveatbold";
  src: url("Polices/webfonts/caveat_bold_macroman/caveat-bold-webfont.eot");
  src: url("Polices/webfonts/caveat_bold_macroman/caveat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("Polices/webfonts/caveat_bold_macroman/caveat-bold-webfont.woff2") format("woff2"), url("Polices/webfonts/caveat_bold_macroman/caveat-bold-webfont.woff") format("woff"), url("Polices/webfonts/caveat_bold_macroman/caveat-bold-webfont.ttf") format("truetype"), url("Polices/webfonts/caveat_bold_macroman/caveat-bold-webfont.svg#caveatbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caveatregular";
  src: url("Polices/webfonts/caveat_regular_macroman/caveat-regular-webfont.eot");
  src: url("Polices/webfonts/caveat_regular_macroman/caveat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("Polices/webfonts/caveat_regular_macroman/caveat-regular-webfont.woff2") format("woff2"), url("Polices/webfonts/caveat_regular_macroman/caveat-regular-webfont.woff") format("woff"), url("Polices/webfonts/caveat_regular_macroman/caveat-regular-webfont.ttf") format("truetype"), url("Polices/webfonts/caveat_regular_macroman/caveat-regular-webfont.svg#caveatregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gasparregular";
  src: url("Polices/webfonts/gaspar_regular_macroman/Gaspar Regular-webfont.eot");
  src: url("Polices/webfonts/gaspar_regular_macroman/Gaspar Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Polices/webfonts/gaspar_regular_macroman/Gaspar Regular-webfont.woff2") format("woff2"), url("Polices/webfonts/gaspar_regular_macroman/Gaspar Regular-webfont.woff") format("woff"), url("Polices/webfonts/gaspar_regular_macroman/Gaspar Regular-webfont.ttf") format("truetype"), url("Polices/webfonts/gaspar_regular_macroman/Gaspar Regular-webfont.svg#gasparregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cmu_serifitalic";
  src: url("Polices/webfonts/cmuserif_oblique_macroman/cmunti-webfont.eot");
  src: url("Polices/webfonts/cmuserif_oblique_macroman/cmunti-webfont.eot?#iefix") format("embedded-opentype"), url("Polices/webfonts/cmuserif_oblique_macroman/cmunti-webfont.woff2") format("woff2"), url("Polices/webfonts/cmuserif_oblique_macroman/cmunti-webfont.woff") format("woff"), url("Polices/webfonts/cmuserif_oblique_macroman/cmunti-webfont.ttf") format("truetype"), url("Polices/webfonts/cmuserif_oblique_macroman/cmunti-webfont.svg#cmu_serifitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "tex_gyre_scholaregular";
  src: url("Polices/webfonts/texgyreschola_regular_macroman/texgyreschola-regular-webfont.eot");
  src: url("Polices/webfonts/texgyreschola_regular_macroman/texgyreschola-regular-webfont.eot?#iefix") format("embedded-opentype"), url("Polices/webfonts/texgyreschola_regular_macroman/texgyreschola-regular-webfont.woff2") format("woff2"), url("Polices/webfonts/texgyreschola_regular_macroman/texgyreschola-regular-webfont.woff") format("woff"), url("Polices/webfonts/texgyreschola_regular_macroman/texgyreschola-regular-webfont.ttf") format("truetype"), url("Polices/webfonts/texgyreschola_regular_macroman/texgyreschola-regular-webfont.svg#tex_gyre_scholaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kanitregular";
  src: url("Polices/webfonts/kanit_regular_macroman/kanit-regular-webfont.eot");
  src: url("Polices/webfonts/kanit_regular_macroman/kanit-regular-webfont.eot?#iefix") format("embedded-opentype"), url("Polices/webfonts/kanit_regular_macroman/kanit-regular-webfont.woff2") format("woff2"), url("Polices/webfonts/kanit_regular_macroman/kanit-regular-webfont.woff") format("woff"), url("Polices/webfonts/kanit_regular_macroman/kanit-regular-webfont.ttf") format("truetype"), url("Polices/webfonts/kanit_regular_macroman/kanit-regular-webfont.svg#kanitregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Vert principalement utilise pour mon header et footer */
/* Jaune de mon logo ohmyfood */
/* Rose de fond du menu du chic a la francaise */
/* Beige de fond du menu de la note enchantee */
/* Box shadow principal a utiliser pour les effets d'ombres sur differentes pages */
/*  Proprietees de la page index.html*/
.index {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 25px 35% 25px 35%;
}

.bloc {
  width: 45%;
}
.bloc a {
  text-decoration: none;
}
.bloc:nth-child(1) .bloc_menu {
  background: #FCDFDB;
  color: black;
  font-family: "caveatbold";
  box-shadow: 0px 2px 5px #BDBDBD;
}
.bloc:nth-child(2) .bloc_menu {
  background: #FFF5FE;
  font-family: "cmu_serifitalic";
  box-shadow: 0px 2px 5px #BDBDBD;
}
.bloc:nth-child(2) .bloc_menu h2, .bloc:nth-child(2) .bloc_menu h3 {
  background: linear-gradient(125deg, #905BFD 0%, #D8852E 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bloc:nth-child(3) .bloc_menu {
  background: #F9F9F9;
  font-family: "cmu_serifitalic";
  box-shadow: 0px 2px 5px #BDBDBD;
}
.bloc:nth-child(3) .bloc_menu h2, .bloc:nth-child(3) .bloc_menu h3 {
  background: linear-gradient(125deg, #103DE1 0%, #62B0F9 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bloc:nth-child(4) .bloc_menu {
  font-family: "gasparregular";
  box-shadow: 0px 2px 5px #BDBDBD;
}
.bloc:nth-child(4) .bloc_menu h2, .bloc:nth-child(4) .bloc_menu h3 {
  background: linear-gradient(125deg, #44983D 0%, #BFFF7E 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bloc_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 14vw;
}
.bloc_menu h3 {
  margin: 0px;
}
.bloc_menu img {
  width: 20%;
}

.next {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 75px;
}
.next h2 {
  padding: 5px 0px 5px 0px;
  width: 15%;
  background: #579C87;
  color: #FDCB46;
  border-radius: 5px;
}

/* Proprietees de la page lanoteenchantee.html */
.note_enchantee .img_top {
  width: 10%;
}
.note_enchantee > .main_title {
  font-family: "open_sansregular";
  font-size: 26px;
  text-align: center;
}
.note_enchantee .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FCDFDB;
  font-family: "caveatregular";
  margin: 0 25% 7% 25%;
}
.note_enchantee .menu_title {
  font-size: 34px;
  margin-top: 0;
}
.note_enchantee .menu > table {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 75%;
}
.note_enchantee .menu > table tr {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.note_enchantee .menu > table th {
  font-size: 24px;
  width: 100%;
}
.note_enchantee .menu > table td {
  font-size: 20px;
  width: auto;
}
.note_enchantee .trait_gauche {
  padding-right: 10px;
}
.note_enchantee .trait_droite {
  padding-right: 15px;
  transform: scaleX(-1);
}

header {
  font-family: "kanitregular";
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #579C87;
}
header h1 {
  color: #FDCB46;
}

footer {
  font-family: open_sanslight;
  background: #579C87;
  display: flex;
  justify-content: space-between;
  color: #FDCB46;
  font-weight: normal;
  position: fixed;
  bottom: 0;
  width: 99.2%;
}
footer h2 {
  padding: 0px 15px 0px 15px;
}

.cadre_rouge {
  border: 1px solid red;
}

body {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
