/* Proprietees de la page la palette du gout */
.palette_du_gout {
    > .main_title {
        @include main_title;
    }

    .menu {
        @include menu;
        padding: 50px 0 50px 0;
        font-family: 'gasparitalic';
        font-weight: bold;
        padding-bottom: 10%;

        &_title {
            font-size: 50px;
            margin: 10% 0 10% 0px;
            background: linear-gradient(125deg, #44983D 0%, #BFFF7E 90%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        > table {
            width: 90%;

            tr {
            }

            th {
                > h3 {
                    font-size: 16px;
                    padding-top: 10px;
                    text-align: center;
                }
            }

            td {
                font-size: 14px;
            }
        }
    }

    .trait_droite {
        @include right_line;
    }

    .trait_gauche {
        @include left_line;
    }
}
