/* Proprietees de la page le chic a la francaise */
.french_chic {
    > .main_title {
        @include main_title;
    }

    .menu {
        @include menu;
        padding: 50px 0 50px 0;
        font-family: 'tex_gyre_scholaregular';
        padding-bottom: 10%;
        background: $colorchic;

        &_title {
            font-size: 28px;
            margin: 10% 0 10% 0px;
            background: linear-gradient(125deg, #905BFD 0%, #D8852E 90%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        > table {
            width: 80%;

            th {
                > h3 {
                    height: 35%;
                    font-size: 14px;
                    padding-top: 13px;
                    text-align: center;
                }
            }

            td {
                font-size: 14px;
            }
        }
    }

    .brown {
        color: #C67412;
    }

    .purple {
        color: #A56799;
    }

    .blue {
        color: #6E4CCC;
    }

    .trait_droite {
        @include right_line;
    }

    .trait_gauche {
        @include left_line;
    }
}
