@media screen and (min-width: 1200px) and (max-width: 1440px) {
    .main {
        margin: 50px 15% 50px 15%;

        .bloc_menu {
            height: 26vw;
            font-size: 20px;

            i {
                font-size: 2.8vw;
            }
        }
    }

    .next {
        margin-bottom: 6%;

        &-content {
            width: 28%;
        }

        h2 {
            font-size: 26px;
        }
    }

    .note_enchantee {
        .main_title {
            font-size: 30px;
        }

        .menu {
            margin: 0 15% 10% 15%;

            table {
                td {
                    font-size: 26px;
                }

                th {
                    .title_change {
                        font-size: 34px;
                    }

                    > p {
                        width: 30%;
                    }
                }
            }
        }

        h4 {
            font-size: 38px;
        }
    }

    .french_chic {
        .main_title {
            font-size: 30px;
        }

        .menu {
            margin: 0 15% 10% 15%;

            > table {
                th {
                    .title_change {
                        font-size: 22px;
                        padding-top: 0;
                        height: 50%;
                    }

                    > p {
                        width: 30%;
                    }
                }

                td {
                    font-size: 17px;
                }
            }
        }
    }

    .delice_papilles {
        .main_title {
            font-size: 30px;
        }

        .menu {
            margin: 0 15% 10% 15%;

            > table {
                th {
                    .title_change {
                        font-size: 23px;
                        padding-top: 0;
                        height: 50%;
                    }

                    p {
                        width: 30%;
                    }
                }

                td {
                    font-size: 20px;
                }
            }
        }
    }

    .palette_du_gout {
        .main_title {
            font-size: 30px;
        }

        .menu {
            margin: 0 15% 10% 15%;

            > table {
                th {
                    .title_change {
                        font-size: 23px;
                        padding-top: 0;
                        height: 50%;
                    }

                    p {
                        width: 38%;
                    }
                }

                td {
                    font-size: 20px;
                }
            }
        }
    }
}
