@media screen and (min-width: 1024px) and (max-width: 1199px) {
    .index {
        margin: 50px 10% 50px 10%;

        .bloc_menu {
            height: 30vw;
            font-size: 20px;

            i {
                font-size: 3.6vw;
            }
        }
    }

    .next {
        margin-bottom: 8%;

        &-content {
            width: 30%;

            .point {
                height: 0.6vw;
                width: 0.6vw;
            }
        }

        h2 {
            font-size: 26px;
        }
    }

    .note_enchantee {
        .main_title {
            font-size: 30px;
        }

        .menu {
            margin: 0 8% 10% 8%;

            table {
                h3 {
                    font-size: 34px;
                }

                td {
                    font-size: 26px;
                }

                th {
                    > p {
                        width: 30%;
                    }
                }
            }
        }

        h4 {
            font-size: 38px;
        }
    }

    .french_chic {
        .main_title {
            font-size: 30px;
        }

        .menu {
            margin: 0 8% 10% 8%;

            > table {
                th {
                    h3 {
                        font-size: 22px;
                        padding-top: 0;
                        height: auto;
                    }

                    > p {
                        width: 30%;
                    }
                }

                td {
                    font-size: 17px;
                }
            }
        }
    }

    .delice_papilles {
        .main_title {
            font-size: 30px;
        }

        .menu {
            margin: 0 8% 10% 8%;

            > table {
                th {
                    h3 {
                        font-size: 23px;
                        padding-top: 0;
                        height: auto;
                    }

                    p {
                        width: 30%;
                    }
                }

                td {
                    font-size: 20px;
                }
            }
        }
    }

    .palette_du_gout {
        .main_title {
            font-size: 30px;
        }

        .menu {
            margin: 0 8% 10% 8%;

            > table {
                th {
                    h3 {
                        font-size: 23px;
                        padding-top: 0;
                        height: auto;
                    }

                    p {
                        width: 38%;
                    }
                }

                td {
                    font-size: 20px;
                }
            }
        }
    }
}
