@media screen and (min-width: 320px) and (max-width: 599px) {
    .index {
        margin: 50px 0 50px 0;

        .bloc {
            width: 90%;

            &_menu {
                width: 90%;
                margin-left: 5%;    
                height: 110vw;
                font-size: 18px;
                margin-bottom: 25px;

                i {
                    font-size: 10vw;
                }
            }
        }
    }

    .next {
        margin-bottom: 40%;

        &-content {
            width: 85%;

            .point {
                height: 2vw;
                width: 2vw;
            }
        }

        h2 {
            font-size: 26px;
        }
    }

    .note_enchantee {
        .main_title {
            font-size: 20px;
        }

        .fa-music_top-img {
            font-size: 45px;
        }

        .menu {
            margin: 0 1% 30% 1%;

            table {
                width: 98%;

                h3 {
                    font-size: 24px;
                    padding-top: 8px;
                }

                td {
                    font-size: 20px;
                    text-align: center;
                    width: 100%;
                    margin-bottom: 5%;
                }
                
                tr {
                    flex-wrap: wrap;
                    justify-content: center;
                }

                th {
                    > p {
                        width: 20%;
                    }
                }
            }
        }

        h4 {
            font-size: 30px;
        }
    }

    .french_chic {
        .main_title {
            font-size: 20px;
        }

        .menu {
            margin: 0 1% 30% 1%;

            > table {
                width: 98%;

                th {
                    h3 {
                        font-size: 16px;
                        padding-top: 20px;
                        height: auto;
                    }

                    > p {
                        width: 16%;
                    }
                }

                td {
                    font-size: 14px;
                    text-align: center;
                    justify-content: center;
                    width: 100%;
                    margin: 0;
                    margin-bottom: 5%;
                }

                tr {
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }
        }
    }

    .delice_papilles {
        .main_title {
            font-size: 20px;
        }

        .menu {
            margin: 0 1% 30% 1%;

            &_title {
                font-size: 30px;
            }

            > table {
                width: 98%;

                th {
                    h3 {
                        font-size: 16px;
                        padding-top: 15px;
                        height: auto;
                    }

                    p {
                        width: 21%;
                    }
                }

                td {
                    font-size: 14px;
                    justify-content: center;
                    text-align: center;
                    width: 100%;
                    margin: 0;
                    margin-bottom: 5%;
                }

                tr {
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }
        }
    }

    .palette_du_gout {
        .main_title {
            font-size: 20px;
        }

        .menu {
            margin: 0 1% 30% 1%;

            &_title {
                font-size: 34px;
            }

            > table {
                width: 98%;

                th {
                    h3 {
                        font-size: 16px;
                        padding-top: 15px;
                        height: auto;
                    }

                    p {
                        width: 28%;
                    }
                }

                td {
                    font-size: 15px;
                    justify-content: center;
                    text-align: center;
                    width: 100%;
                    margin: 0;
                    margin-bottom: 5%;
                }

                tr {
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }
        }
    }

    footer {
        h2 {
            font-size: 17px;
        }
    }

    .mentions_legales {
        > .menu {
            margin: 5% 1% 30% 1%;
        }

        h1 {
            font-size: 24px;
        }

        h2 {
            font-size: 20px;
        }
    }
}
