.fa-music {
    background: linear-gradient(125deg, #F05060 0%, #F6916A 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.underline {
    &_key {
        text-decoration: none;
        background: linear-gradient(to top, rgba(240, 83, 97, 0.5) 0%, rgba(240, 83, 97, 0.5) 4px, transparent 5px) no-repeat;
        background-size: 0 100%;
        transition: background-size 500ms;

        &:hover {
            background-size: 100% 100%;
        }
    }

    &_chic {
        &-top {
            text-decoration: none;
            background: linear-gradient(to top, rgba(198, 116, 18, 0.5) 0%, rgba(198, 116, 18, 0.5) 4px, transparent 5px) no-repeat;
            background-size: 0 100%;
            transition: background-size 500ms;

            &:hover {
                background-size: 100% 100%;
            }
        }

        &-middle {
            text-decoration: none;
            background: linear-gradient(to top, rgba(165, 103, 153, 0.5) 0%, rgba(165, 103, 153, 0.5) 4px, transparent 5px) no-repeat;
            background-size: 0 100%;
            transition: background-size 500ms;

            &:hover {
                background-size: 100% 100%;
            }
        }

        &-low {
            text-decoration: none;
            background: linear-gradient(to top, rgba(110, 76, 204, 0.5) 0%, rgba(110, 76, 204, 0.5) 4px, transparent 5px) no-repeat;
            background-size: 0 100%;
            transition: background-size 500ms;

            &:hover {
                background-size: 100% 100%;
            }
        }
    }

    &_delice {
        &-top {
            text-decoration: none;
            background: linear-gradient(to top, rgba(16, 52, 222, 0.5) 0%, rgba(16, 52, 222, 0.5) 4px, transparent 5px) no-repeat;
            background-size: 0 100%;
            transition: background-size 500ms;

            &:hover {
                background-size: 100% 100%;
            }
        }

        &-middle {
            text-decoration: none;
            background: linear-gradient(to top, rgba(6, 112, 243, 0.5) 0%, rgba(6, 112, 243, 0.5) 4px, transparent 5px) no-repeat;
            background-size: 0 100%;
            transition: background-size 500ms;

            &:hover {
                background-size: 100% 100%;
            }
        }

        &-low {
            text-decoration: none;
            background: linear-gradient(to top, rgba(34, 157, 249, 0.5) 0%, rgba(34, 157, 249, 0.5) 4px, transparent 5px) no-repeat;
            background-size: 0 100%;
            transition: background-size 500ms;

            &:hover {
                background-size: 100% 100%;
            }
        }
    }

    &_taste {
        text-decoration: none;
        background: linear-gradient(to top, rgba(69, 153, 62, 0.5) 0%, rgba(69, 153, 62, 0.5) 4px, transparent 5px) no-repeat;
        background-size: 0 100%;
        transition: background-size 500ms;

        &:hover {
            background-size: 100% 100%;
        }
    }
}
